<div class="jumbotron d-flex align-items-center min-vh-100">
  <div class="container mb-5 pb-5">
    <div class="text-center mb-3">
      <h2>J'édite mon compte</h2>
    </div>
    <div class="row">
      <div class="col-12 m-auto">
        <div class="focus-space">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <div class="form-row d-flex justify-content-between">
              <%= f.error_notification %>
              <div class="col-5">
                <%= f.input :email, required: true, autofocus: true %>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>
                <%= f.input :password,
                            label: "Nouveau mot de passe",
                            hint: "Laissez ce champ vide si vous ne souhaitez pas modifier votre mot de passe",
                            required: false,
                            input_html: { autocomplete: "new-password" } %>
              </div>
              <div class="col-5">
                <%= f.input :password_confirmation,
                            label: "Confirmation du nouveau mot de passe",
                            required: false,
                            input_html: { autocomplete: "new-password" } %>
                <%= f.input :current_password,
                            label: "Mot de passe actuel",
                            hint: "Nous avons besoin de votre mot de passe actuel pour confirmer vos changements",
                            required: true,
                            input_html: { autocomplete: "current-password" } %>
                <%= f.file_field :image %>
              </div>

            </div>
            <div class="form-actions text-center mb-3 mt-2">
              <%= f.submit "Mettre à jour", class: "btn btn-primary text-white" %>
            </div>
          <% end %>
          <%= link_to "Retour", :back %>
        </div>
      </div>
    </div>
  </div>
</div>
