<h1>Your Flat</h1>

<ul>
  <li><%= @flat.title %></li>
  <li><%= @flat.address %></li>
  <li><%= @flat.city%></li>
  <li><%= @flat.monthly_price%></li>
  <li><%= @flat.type_of_flat%></li>
</ul>


<div class="btn-align-center">

    <a href="<%= edit_flat_path(@flat) %>" class="btn btn-primary">Edit</a>
    <%= button_to "Destroy", @flat, method: :delete, class: "btn btn-danger" %>
     <a href="<%= flats_path %>" class="btn btn-primary">All Flats</a>
</div>
