<div class="navbar navbar-expand-sm navbar-light profile-menu ">
  <div class="profile-menu-collapse navbar-text" id="navbarSupportedContent">
    <ul class="navbar-nav  me-auto  ">
    <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a href="#" class="" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "logo-apartage", id: "apartage-brand", alt: "dropdown menu" %>

          </a>
            <div class="dropdown-menu dropdown-menu-end text-center" aria-labelledby="navbarDropdown">
              <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              <% if current_user.role == "junior" %>
                  <%= link_to "Mon bureau", pages_junior_dashboard_path, class: "dropdown-item" %>
              <% else %>
                 <%= link_to "Mon bureau", pages_senior_dashboard_path, class: "dropdown-item" %>
              <% end %>

            </div>
        </li>
    <% else %>
          <%= link_to "Login", new_user_session_path, class: "btn btn-success me-5" %>
    <% end %>
    </ul>
  </div>
</div>
