<div class="senior-dashboard-space">
  <div class="container-xxl d-flex justify-content-around">
    <div class="col-6 mt-4">

      <div class="card-candidat mt-2">

        <% if @rental.status == "pending" %>
          <div class="status-pending">
            <span class="p-2">En attente</span>
          </div>
        <% elsif @rental.status == "accepted" %>
          <div class="status-accepted">
            <span class="p-2">Acceptée</span>
          </div>
        <% elsif @rental.status == "refused" %>
          <div class="status-refused">
            <span class="p-2">Refusée</span>
          </div>
        <% end %>
        <% if @junior.image.attached? %>
          <%= image_tag(@junior.image) %>
        <% else %>
          <img src="https://img.freepik.com/photos-gratuite/portrait-etudiante-afro-americaine-heureuse-tenant-cahiers-sac-dos-souriant-debout-fond-jaune_1258-54844.jpg" />
        <% end %>
        <div class="card-candidat-infos">
          <h2><%= @junior.first_name %></h2>
          <p>Ce candidat est à <strong><%= @matching %></strong> compatible avec vos critères</p>
        </div>
      </div>
      <div class="dashboard-space mb-2">
        <h3>Video de présentation de <%= @junior.first_name %> </h3>
      </div>
      <div class="dashboard-space mb-2 text-center">
        <h3>Vous aimez le profil de <%= @junior.first_name %>?</h3>
          <%= link_to "Accepter", pages_accept_rental_path(@rental), class: 'btn btn-primary text-white'  %>
          <%= link_to "Refuser", pages_refuse_rental_path(@rental), class: 'btn btn-danger text-white' %>
          <%= link_to "En attente", pages_pending_rental_path(@rental), class: 'btn btn-warning text-white' %>
      </div>


    </div>
    <div class="col-5 mt-4">


          <%= render "chatrooms/show", chatroom: @chatroom%>



    </div>
  </div>
</div>
