<div class="senior-dashboard-space">
  <div class="container-xxl d-flex justify-content-around">
    <div class="col-6 mt-5">
      <div class="mb-2">
        <% if @quizz_file.present? %>
        <h2><strong><%= @junior.first_name %></strong> se présente en video:</h2>
        <div  class="row">
          <div class="col-9">
            <td><video src="<%= url_for(@quizz_file) %>" height="100%" width="100%" padding="0" class="video-container-dashboard"   controls></video></td>
          </div>
        </div>
        <% else %>


        <% end %>

      </div>
      <div class="card-candidat mt-4">

        <% if @rental.status == "pending" %>
          <div class="status-pending">
            <span class="p-2">En attente</span>
          </div>
        <% elsif @rental.status == "accepted" %>
          <div class="status-accepted">
            <span class="p-2">Acceptée</span>
          </div>
        <% elsif @rental.status == "refused" %>
          <div class="status-refused">
            <span class="p-2">Refusée</span>
          </div>
        <% end %>
        <% if @junior.image.attached? %>
          <%= image_tag(@junior.image) %>
        <% else %>
          <img src="https://img.freepik.com/photos-gratuite/portrait-etudiante-afro-americaine-heureuse-tenant-cahiers-sac-dos-souriant-debout-fond-jaune_1258-54844.jpg" />
        <% end %>
        <div class="card-candidat-infos">
          <p class="text-center mb-2"><strong>Le message de <%=@junior.first_name %></strong></p>
          <p class="text-center font-italic mb-2"><%=@rental.message %></p>

          <p class="text-end mb-2"><strong>Acceptez-vous la demande de <%= @junior.first_name %>?</strong></p>
          <div class="card-candidat-infos-status">
            <%= link_to "Accepter", pages_accept_rental_path(@rental), class: 'btn btn-primary text-white'  %>
            <%= link_to "Refuser", pages_refuse_rental_path(@rental), class: 'btn btn-primary text-white' %>
            <%= link_to "En attente", pages_pending_rental_path(@rental), class: 'btn btn-primary text-white' %>
          </div>
        </div>
      </div>



    </div>
    <div class="col-5 mt-5">


          <%= render "chatrooms/show", chatroom: @chatroom%>



    </div>
  </div>
</div>
