<div class="senior-dashboard-space">
  <div class="container-xxl d-flex justify-content-around">
    <div class="col-6 mt-4">
      <div class="dashboard-space mb-2">
        <h1><%= @junior.first_name %></h1>
          <ul class="list-unstyled">
            <li>Son message <%= @rental.message %></li>
            <li>Status de la demande: <%= @rental.status.capitalize %></li>
          </ul>
      </div>
       <div class="dashboard-space mb-2">
        <h1>Chat avec <%= @junior.first_name %></h1>
        <p>Chat room</p>
      </div>
    </div>
    <div class="col-5 mt-4">
      <div class="dashboard-space mb-2">
        <h1>Video de candidature</h1>
        <td><video src="<%= url_for(@quizz_file) %>" height="200" width="500" loop muted="muted" autoplay></video></td>
          <ul class="list-unstyled">
            <li>Status de la demande: <%= @rental.status.capitalize %></li>
          </ul>
      </div>
      <div class="dashboard-space mb-2">
        <h1>Valider ou Refuser sa demande</h1>
          <%= link_to "Accept", pages_accept_rental_path(@rental), class: 'btn btn-primary'  %>
          <%= link_to "Refuse", pages_refuse_rental_path(@rental), class: 'btn btn-danger' %>

      </div>
    </div>
  </div>
</div>
