<div class="container margin-top-negative">
  <div class ="container text-center elegant-bottom-lign ">
    <h1>My Dashboard</h1>
  </div>
  <div class="container mt-4">
    <% if current_user.role == "renter" %>

    <!-- your requests -->
      <div class="container mt-4">
      <% if @my_rentals.empty? %>
        <h3>You haven't booked any flat yet </h3>
      <% else %>
      <h3>My requests:</h3>
        <div class="row flex">

         <% @my_rentals.each do |rental| %>
            <div class="col-md-4">
              <div class="flat-card">

                <div class="d-flex align-items-center">
                  <% if User.find(Flat.find(rental.flat_id).owner_id).image.attached? %>
                      <%= link_to image_tag(User.find(Flat.find(rental.flat_id).owner_id).image) %>
                    <% else %>
                        <%= image_tag "https://static.vecteezy.com/ti/gratis-vector/p3/7319933-black-avatar-person-icons-user-profile-icon-vector.jpg", class: "avatar m-2"%>
                    <% end %>
                </div>
                <% if rental.status == rental.pending %>
                  <div class="rental-status-pending">
                    <span class="p-2"><%= rental.status %></span>
                  </div>
                <% elsif rental.status == rental.accepted %>
                  <div class="rental-status-accepted">
                    <span class="p-2"><%= rental.status %></span>
                  </div>
                <% elsif rental.status == rental.refused %>
                  <div class="rental-status-refused">
                    <span class="p-2"><%= rental.status %></span>
                  </div>
                <% end %>

                <div class="flat-card-content">
                  <div class="flat-card-title text-center">
                    <h4><%= Flat.find(rental.flat_id).title %></h4>
                    <%= button_to "I don't want to rent it anymore", rental, method: :delete, class: "btn btn-secondary"%>
                  </div>
                </div>
              </div>
         <% end %>
            </div>

        </div>
      <% end %>
      </div>

    <% else  %>

    <!-- they want to rent your place-->

      <div class="container mt-4">
        <% if @rentals_requests.empty? %>
          <h3> No rental requests for the moment </h3>
        <% else %>
          <h3>They want to rent your place:</h3>
          <div class="row d-flex">
             <% @rentals_requests.each do |request| %>
              <div class="col-md-4">
                <div class="flat-card">
                   <% if request.status == request.pending %>
                  <div class="rental-status-pending">
                    <span class="p-2"><%= request.status %></span>
                  </div>
                  <% elsif request.status == request.accepted %>
                    <div class="rental-status-accepted">
                      <span class="p-2"><%= request.status %></span>
                    </div>
                  <% elsif request.status == request.refused %>
                    <div class="rental-status-refused">
                      <span class="p-2"><%= request.status %></span>
                    </div>
                  <% end %>
                  <div class="flat-card-content">
                    <div class="flat-card-title text-center">
                      <h4><%= Flat.find(request.flat_id).title %></h4>
                    </div>
                    <div class="d-flex align-items-center">
                      <div class="">
                        <% if User.find(request.customer_id).image.attached? %>
                          <%= link_to image_tag(User.find(request.customer_id).image, class: "avatar-white-border"), pages_user_profil_path(User.find(request.customer_id)) %>
                        <% else %>
                          <%= image_tag "https://static.vecteezy.com/ti/gratis-vector/p3/7319933-black-avatar-person-icons-user-profile-icon-vector.jpg", class: "avatar m-2"%>
                        <% end %>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between mt-2">
                    <%= link_to "Accept", pages_accept_rental_path(request), class: 'btn btn-primary'  %>
                    <%= link_to "Refuse", pages_refuse_rental_path(request), class: 'btn btn-danger' %>
                    </div>
                  </div>
                </div>
              </div>
      </div>
    <% end %>
  </div>
 </div>

</div>
