<div class="body-homepage"></div>
<div class="home-space">
  <div class="slogan-home text-center text-white mb-5">
    <h2>La colocation <strong>solidaire </strong>qui <strong>unit</strong> les générations</h2>
  </div>
  <div class="invisible-div-white text-center p-1">
    <div class="stats-home">
      <p> <strong>3000000 d'étudiants</strong> cherchent un logement. <strong>530 000 personnes âgées</strong> de 60 ans et plus sont en situation d'isolement.</p>
      <p> <strong>Apart'Agé</strong> est la plateforme de rencontre de ces deux générations. </p>
    </div>
  </div>


  <div class="d-flex justify-content-around home-space-content">
      <div class="homepage-card">
        <div class="junior-home-space text-white d-flex align-items-end text-center"></div>
        <div class="homecard-description">
          <p>Alicia, 20 ans, a trouvé un logement à bas prix chez un senior, ainsi, elle n'a pas besoin de job alimentaire en parallèle de ses études de médecine</p>
        </div>
      </div>


      <div class="homepage-card">
        <div class="senior-home-space text-white d-flex align-items-end text-center"></div>
        <div class="homecard-description">
          <p>Depuis que leurs enfants ont quitté le niz, Paul et Françoise accueillent des étudiants dans leur grande maison</p>
        </div>
      </div>

      <div class="homepage-card">
        <div class="lacarte">

            <div class="p-0 map-home-space align-self-center">
              <div style="width: 100%; height: 150px;"
                  data-controller="map"
                  data-map-markers-value="<%= @markers.to_json %>"
                  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
              </div>
            </div>
          </div>
          <div class="homecard-description text-center">
            <p>Plus de <strong><%= @flats.length %></strong> logements disponibles dans toute la France!</p>
          </div>
      </div>




  </div>
  <div class="homespace-login d-flex justify-content-around">
      <% if user_signed_in? %>
        <div class="text-white">
          <%= link_to "Mon bureau", pages_junior_dashboard_path, class: "" if current_user.role == "junior"%>
          <%= link_to "Mon bureau", pages_senior_dashboard_path, class: "" if current_user.role == "senior"%>
        </div>
      <% else %>
        <div class="text-white">
          <%= link_to "Je me connecte", new_user_session_path, class: "" %>
        </div>
      <% end %>
  </div>
  <% if user_signed_in? %>
    <div class="d-flex justify-content-around mt-3">

    </div>
  <% else %>
      <div class="d-flex justify-content-around mt-4">
        <%= link_to "Rejoins nous!", new_user_registration_path, class: "btn btn-primary text-white"%>
    </div>
  <% end %>
</div>
