<div class="senior-dashboard-space">
  <div class="container-xxl d-flex justify-content-around", data-controller="junior-dashboard">
    <div class="col-5 mt-1">

      <div class="invisible-div mb-2">
        <div class="mb-4">
          <h2>Je cherche un logement: </h2>
        </div>
      <div class="dashboard-space">
        <div class="dashboard-geocoder ">
                <div class="">
                  <%= form_with url: pages_junior_dashboard_path, method: :get do %>
                  <%= text_field_tag 'query[city]',
                    params[:city],
                    class: "form-control",
                    id: "form-homepage",
                    placeholder: "Sélectionner la ville de recherche"
                  %>
                    <div class="my-3 d-flex justify-content-between">
                        <% YourSpace::YOUR_SPACES.each do |your_space| %>
                          <%= check_box_tag  'query[your_space][]', your_space %>
                          <%= your_space %>
                        <% end %>
                    </div>
                    <div class="my-3 d-flex justify-content-between">
                      <% ['0-300€', '300€-500€', '+ 500€'].each do |price_range| %>
                        <%= radio_button_tag  'query[price_range]', price_range %>
                        <%= price_range %>
                      <% end %>
                    </div>

                  <%= submit_tag "Rechercher", name: "", class: "btn btn-primary text-white" %>
                  <% end %>
                </div>
            </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="image-home" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://www.abritel.fr/guides-voyage/wp-content/uploads/1oX8CVLlZO095rWtc5Tj05/8c3d3571fad2a0ef2d015f03bd629d62/9df56155-45b4-4578-88a4-2470af6fdaaf.lg1.jpg)"></div>
      </div>


    </div>
    <div class="col-7 mt-1">
      <div class="invisible-div mt-5">
        <div class="mt-2", data-junior-dashboard-target="map">
        <% if @query.present? %>
          <h3 class="mb-3">Nous avons trouvé <strong><%= @flats.length %></strong> appartements compatibles:</h3>
        <% else %>
          <h3 class="mb-3">Plus de <strong><%= Flat.all.count %></strong> appartements dans toute la France</h3>
        <% end %>
          <div style="width: 100%; height: 400px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
