<div class="senior-dashboard-space">
  <div class="container-xxl d-flex justify-content-around", data-controller="junior-dashboard">
    <div class="col-6 mt-4">

      <div class="dashboard-space mb-2">

        <h2>Chercher un logement</h2>


        <div class="dashboard-geocoder ">
                <div class="">
                  <%= form_with url: pages_junior_dashboard_path, method: :get do %>
                  <%= text_field_tag 'query[city]',
                    params[:city],
                    class: "form-control",
                    id: "form-homepage",
                    placeholder: "Sélectionner la ville de recherche"
                  %>
                    <div class="my-3">
                        <% YourSpace::YOUR_SPACES.each do |your_space| %>
                          <%= check_box_tag  'query[your_space][]', your_space %>
                          <%= your_space %>
                        <% end %>
                    </div>
                    <div class="my-3">
                      <% ['0-300€', '301€-500€', '>500€'].each do |price_range| %>
                        <%= radio_button_tag  'query[price_range]', price_range %>
                        <%= price_range %>
                      <% end %>
                    </div>

                  <%= submit_tag "Rechercher", name: "", class: "btn btn-primary" %>
                  <% end %>
                </div>
            </div>
      </div>
      <div class="dashboard-space">
        <div class="edit-button">
          <%= image_tag "edit"%>
        </div>
        <div class="", data-junior-dashboard-target="map">
          <h2>Notre algorithme a trouvé <strong><%= @flats.length %></strong> appartements </h2>

          <div style="width: 100%; height: 300px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>

        </div>


      </div>
    </div>

    <div class="col-5 mt-4">
        <div class="dashboard-space ">
          <div class="edit-button">
            <%= image_tag "edit"%>
          </div>
          <h2>Mes demandes en attentes</h2>
          <% @flats.each do |flat| %>
          <div class="card-candidat">
            <div class="see-more">
              <%= link_to image_tag("play-btn"), flat_path(flat)%>
            </div>
            <img src="https://www.brunet.ca/globalassets/sante/conseils-sante/solitude-personne-agee-briser-lisolement/solitude-personne-agee-briser-lisolement-big.jpg" />
            <div class="card-candidat-infos">
              <h2><%= User.find(flat.user_id).first_name %></h2>

              <% @matching.each do |m| %>
                <%if m[:id] == flat.id %>
                <p><strong><%= m[:match] %></strong> de compatibilité avec votre profil</p>
                <% end %>
              <% end %>

            </div>
          </div>
          <% end %>
        </div>

    </div>

  </div>
</div>
