<div class="senior-dashboard-space">
  <div class="container-xxl d-flex justify-content-around">
    <div class="col-6 mt-2 prevent-link-deco">
      <%= link_to flat_path(@flat) do %>
        <div class="card-candidat">
            <div class="see-more">
              <%= image_tag "play-btn.png" %>
            </div>
            <% if @rental.status == "pending" %>
            <div class="status-pending">
              <span class="p-2">En attente</span>
            </div>
            <% elsif @rental.status == "accepted" %>
            <div class="status-accepted">
              <span class="p-2">Acceptée</span>
            </div>
            <% elsif @rental.status == "refused" %>
            <div class="status-refused">
              <span class="p-2">Refusée</span>
            </div>
            <% end %>

                <% if Flat.find(@rental.flat_id).photos.attached? %>
                  <%= cl_image_tag Flat.find(@rental.flat_id).photos.first.key,  crop: :fill, :class => "profile-image" %>
                <% else %>
                  <%= image_tag "https://static.cotemaison.fr/medias_11749/w_2048,h_1146,c_crop,x_0,y_164/w_640,h_360,c_fill,g_north/v1518095166/chambre-parentale-avec-mur-bleu_6015724.jpg",  crop: :fill, :class => "profile-image" %>
                <% end %>
          <div class="card-candidat-infos">
            <h2><%=@flat.title  %> - <%= @senior.first_name %></h2>
            <p>Ce propriétaire est à <strong> <%= @matching%>%</strong> compatible avec vos critères</p>
          </div>
        </div>
      <% end %>

      <div class="dashboard-space mb-2 p-4 row">
        <% if @quizz_file.present? %>
          <h3 class="mb-3">Votre video de présentation:</h3>
          <div class="d-flex justify-content-around row">
            <div class="p-0 col-9">
              <td><video src="<%= url_for(@quizz_file) %>" height="100%" width="100%" class="video-container-dashboard"  controls></video></td>
            </div>
            <div class="col-2 align-self-center ms-3">
              <%= link_to "Changer ma video", edit_quizz_path(@junior_quizz), class: "btn btn-primary text-white"%>
            </div>

          </div>

        <% else %>
        <h3 class="mb-3">Enregistrez une video de présentation</h3>
        <div class="text-center">
          <%= link_to "Enregistrer ma video", edit_quizz_path(@junior_quizz), class: "btn btn-primary text-white"%>
        </div>
        <% end %>
      </div>


    </div>
    <div class="col-5 mt-4">


          <%= render "chatrooms/show", chatroom: @chatroom%>



    </div>
  </div>
</div>
