<div class="senior-dashboard-space">
  <div class="text-center mt-4"><h1>Mes candidatures</h1></div>
  <div class="container-xxl d-flex justify-content-around">

      <% if @rentals != [nil] %>
        <% if @rentals.count == 0 %>
          <div class="col-6 text-center">
            <h3>Vous n'avez pas de candidatures</h3>
          </div>
        <% else %>
          <% @odd_rentals = [] %>
          <% @even_rentals = [] %>
          <% @rentals.each_with_index do |rentals, index| %>
            <% if index.even? %>
              <% @even_rentals << rentals %>
            <% else %>
              <% @odd_rentals << rentals %>
            <% end %>
          <% end %>
          <div class="col-4">
            <% @even_rentals.each do |rental| %>
                <div class="card-candidat">
                  <div class="see-more">
                    <%= link_to image_tag("play-btn.png"), pages_candidat_path(rental) %>
                  </div>
                  <% if rental.status = "pending" %>
                  <div class="status-pending">
                    <span class="p-2">En attente</span>
                  </div>
                  <% elsif rental.status = "accepted" %>
                  <div class="status-accepted">
                    <span class="p-2">Acceptée</span>
                  </div>
                  <% elsif rental.status = "refused" %>
                  <div class="status-refused">
                    <span class="p-2">Refusée</span>
                  </div>
                  <% end %>
                  <% if User.find(rental.user_id).image.attached? %>
                  <%= image_tag(User.find(rental.user_id).image) %>
                  <% else %>
                  <img src="https://img.freepik.com/photos-gratuite/portrait-etudiante-afro-americaine-heureuse-tenant-cahiers-sac-dos-souriant-debout-fond-jaune_1258-54844.jpg" />
                  <% end %>

                  <div class="card-candidat-infos">
                    <h2><%= User.find(rental.user_id).first_name %></h2>
                    <p>Ce candidat est à
                      <strong>
                        <% @matching.each do |m| %>
                          <%if m[:id] == rental.id %>
                            <%= m[:match] %>
                          <% end %>
                        <% end %>
                      </strong>
                    compatible avec vos critères</p>
                  </div>
                </div>
            <% end %>
          </div>
          <div class="col-4">
            <% @odd_rentals.each do |rental| %>
                <div class="card-candidat">
                  <div class="see-more">
                    <%= link_to image_tag("play-btn.png"), pages_candidat_path(rental) %>
                  </div>
                  <% if rental.status = "pending" %>
                  <div class="status-pending">
                    <span class="p-2">En attente</span>
                  </div>
                  <% elsif rental.status = "accepted" %>
                  <div class="status-accepted">
                    <span class="p-2">Acceptée</span>
                  </div>
                  <% elsif rental.status = "refused" %>
                  <div class="status-refused">
                    <span class="p-2">Refusée</span>
                  </div>
                  <% end %>
                  <% if User.find(rental.user_id).image.attached? %>
                  <%= image_tag(User.find(rental.user_id).image) %>
                  <% else %>
                  <img src="https://img.freepik.com/photos-gratuite/portrait-etudiante-afro-americaine-heureuse-tenant-cahiers-sac-dos-souriant-debout-fond-jaune_1258-54844.jpg" />
                  <% end %>

                  <div class="card-candidat-infos">
                    <h2><%= User.find(rental.user_id).first_name %></h2>
                    <p>Ce candidat est à
                      <strong>
                        <% @matching.each do |m| %>
                          <%if m[:id] == rental.id %>
                            <%= m[:match] %>
                          <% end %>
                        <% end %>
                      </strong>
                    compatible avec vos critères</p>
                  </div>
                </div>
            <% end %>
          </div>
        <% end %>



      <% end %>




  </div>
</div>
