
<div class="jumbotron d-flex align-items-center min-vh-100">


    <div class="container mb-5 pb-5">
      <div class="container text-center mt-3 mb-5">
        <div>
          <h1>Chez moi j'aimerai bien accueillir quelqu'un qui:</h1>
        </div>
      </div>

      <div class="row">
        <div class="container focus-space col-8 mb-5">
          <div class="d-flex justify-content-around">
            <div class="">
                <ul>
                  <li> <%= @quizz.smoker %></li>
                  <li> <%= @quizz.talker %></li>
                  <li> <%= @quizz.guest%></li>
                  <li> <%= @quizz.motivation%></li>
                  <li> <%= @quizz.gender%></li>
                  <li> <%= @quizz.music%></li>
                  <li> <%= @quizz.animal%></li>
                  <li> <%= @quizz.guest_animal%></li>
                  <li> <%= @quizz.junior_smoker%></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <%= link_to "Je change mes critères", edit_quizz_path(@quizz), class: "btn quizz-btns"%>
      </div>
    </div>





</div>
