<ul class="list-unstyled">

  <li class="active">
    <div class="progress mb-3">
      <div class="progress-bar bg-success" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <%= f.input :motivation, :label => "Pour quelles raisons cherches tu une colocation intergénérationnelle?", as: :radio_buttons, collection: [["J'ai besoin d'un logement pas cher!",'A'], ["J'aime bien avoir de la compagnie, ne pas rester tout seul",'B'], ["Je voudrai partager les tâches quotidiennes(ménage, courses, faire à manger)et qu'on puisse s'entraider",'D'],["je déteste être seul",'C']], input_html: { class: "toggle" } %>
    <div class="text-center">
      <button type="button" class="btn btn-primary text-white p-3" data-action="click->quizz-wizzard#next">Suivant </button>
    </div>
  </li>

  <li class="d-none">
    <div class="progress mb-3">
      <div class="progress-bar btn-success" role="progressbar" style="width: 12%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <%= f.input :gender, :label => "Ton hôte idéal serait:", as: :radio_buttons, collection: [['Un homme','A'], ['Une femme','B'], ["Aucune importance, du moment que l'on s'entend bien",'C']], input_html: { class: "toggle" }%>
      <div class="d-flex justify-content-center">
        <div class="text-center" data-quizz-wizzard-target="previous">
          <button type="button" class="btn btn-primary text-white p-3 me-3" data-action="click->quizz-wizzard#previous">Précédent </button>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-primary text-white p-3 ms-3" data-action="click->quizz-wizzard#next">Suivant </button>
        </div>
      </div>
  </li>

  <li class="d-none">
    <div class="progress mb-3">
      <div class="progress-bar bg-success" role="progressbar" style="width: 24%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <%= f.input :animal, :label => "S'il y a des animaux dans le logement, c'est un problème ?", as: :radio_buttons, collection: [["Non aucun,j'adore les animaux",'D'], ['Oui, je ne pourrai pas cohabiter avec eux (allergies, peur..)','E']], input_html: { class: "tag-selector " }, item_wrapper_class: 'tag-item'%>
    <div class="d-flex justify-content-center">
        <div class="text-center" data-quizz-wizzard-target="previous">
          <button type="button" class="btn btn-primary text-white p-3 me-3" data-action="click->quizz-wizzard#previous">Précédent </button>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary text-white p-3 ms-3" data-action="click->quizz-wizzard#next">Suivant </button>
        </div>
    </div>
  </li>

   <li class="d-none">
    <div class="progress mb-3">
      <div class="progress-bar bg-success" role="progressbar" style="width: 36%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <%= f.input :guest_animal, :label => "Souhaites tu trouver un logement qui accepte ton propre animal de compagnie ?", as: :radio_buttons, collection: [["Oui, c'est impératif car c'est mon meilleur ami",'D'], ["non, je viens seul et non accompagné",'E']], input_html: { class: "tag-selector " }, item_wrapper_class: 'tag-item'%>
    <div class="d-flex justify-content-center">
        <div class="text-center" data-quizz-wizzard-target="previous">
          <button type="button" class="btn btn-primary text-white p-3 me-3" data-action="click->quizz-wizzard#previous">Précédent </button>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary text-white p-3 ms-3" data-action="click->quizz-wizzard#next">Suivant </button>
        </div>
    </div>
  </li>

  <li class="d-none">
  <div class="progress mb-3">
    <div class="progress-bar bg-success" role="progressbar" style="width: 48%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <%= f.input :junior_smoker, :label => "Est ce que tu fumes?", as: :radio_buttons, collection: [["Oui, comme un pompier !",'E'], ['Non ou alors de manière exceptionnelle en soirée','D']], input_html: { class: "tag-selector " }, item_wrapper_class: 'tag-item'%>
  <div class="d-flex justify-content-center">
      <div class="text-center" data-quizz-wizzard-target="previous">
        <button type="button" class="btn btn-primary text-white p-3 me-3" data-action="click->quizz-wizzard#previous">Précédent </button>
      </div>
      <div class="text-center">
          <button type="button" class="btn btn-primary text-white p-3 ms-3" data-action="click->quizz-wizzard#next">Suivant </button>
      </div>
  </div>
</li>

  <li class="d-none">
    <div class="progress mb-3">
    <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <%= f.input :smoker, :label => "Si ton hôte fume : c'est un problème?", as: :radio_buttons, collection: [['Enorme problème, je déteste la cigarette','E'], ["Non, il fait ce qu'il veut, ca ne me dérangera pas",'D']], input_html: { class: "tag-selector " }, item_wrapper_class: 'tag-item'%>
  <div class="d-flex justify-content-center">
      <div class="text-center" data-quizz-wizzard-target="previous">
        <button type="button" class="btn btn-primary text-white p-3 me-3" data-action="click->quizz-wizzard#previous">Précédent </button>
      </div>
      <div class="text-center">
          <button type="button" class="btn btn-primary text-white p-3 ms-3" data-action="click->quizz-wizzard#next">Suivant </button>
      </div>
  </div>
</li>

<li class="d-none">
    <div class="progress mb-3">
      <div class="progress-bar bg-success" role="progressbar" style="width: 72%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <%= f.input :guest, :label => "Ramènes tu souvent des potes chez toi ?", as: :radio_buttons, collection: [["Oui souvent! j'adore être avec du monde!",'A'], ["Oui occasionnellement si ça ne dérange personne",'B'], ["Oui mais uniquement pour étudier.",'C'],["Non, je suis un solitaire",'D']], input_html: { class: "tag-selector " }, item_wrapper_class: 'tag-item'%>
    <div class="d-flex justify-content-center">
        <div class="text-center" data-quizz-wizzard-target="previous">
          <button type="button" class="btn btn-primary text-white p-3 me-3" data-action="click->quizz-wizzard#previous">Précédent </button>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary text-white p-3 ms-3" data-action="click->quizz-wizzard#next">Suivant </button>
        </div>
    </div>
  </li>

    <%# This is the start of a question %>
  <li class="d-none">
    <div class="progress mb-3">
      <div class="progress-bar bg-success" role="progressbar" style="width: 84%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <%= f.input :talker, :label => "Comment définirais tu ton rapport aux autres?", as: :radio_buttons, collection: [["J'adore parler de tout, tout le temps !",'A'], ['Un petit café de temps en temps pour bavarder','B'], ["Je suis plutôt introverti",'C']], input_html: { class: "tag-selector " }, item_wrapper_class: 'tag-item'%>
    <div class="d-flex justify-content-center">
        <div class="text-center" data-quizz-wizzard-target="previous">
          <button type="button" class="btn btn-primary text-white p-3 me-3" data-action="click->quizz-wizzard#previous">Précédent </button>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary text-white p-3 ms-3" data-action="click->quizz-wizzard#next">Suivant </button>
        </div>
    </div>
  </li>

  <li class="d-none">
    <div class="progress mb-3">
      <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <%= f.input :music, :label => "Quelle place à la musique dans ton quotidien?", as: :radio_buttons, collection: [["Franchement je kiffe tous les plus gros bangers du rap",'A'], ["Elle m'accompagne en fonction de mes besoins : meditation, jazz, classique.",'B'], ["Je ne peux pas m'en passer. J'en écoute du matin au soir, sans me restreindre dans mes choix",'C']], input_html: { class: "tag-selector " }, item_wrapper_class: 'tag-item'%>
    <div class="d-flex justify-content-center">
        <div class="text-center" data-quizz-wizzard-target="previous">
          <button type="button" class="btn btn-primary text-white p-3 me-3" data-action="click->quizz-wizzard#previous">Précédent </button>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary text-white p-3 ms-3" data-action="click->quizz-wizzard#next">Suivant </button>
        </div>
    </div>
  </li>

  <%# This is this end of a question%>


    <%# This is my submit button %>
  <li class="text-center d-none">
    <div class="progress mb-3">
      <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <h3>C'est fait !</h3>
    <h3>Valide tes réponses pour découvrir les logements qui matchent avec ton profil.</h3>
    <%= f.submit 'Valider mes réponses', class: "btn btn-primary text-white p-3"%>
  </li>
</ul>
