

<% if  current_user.role == "junior"  %>

  <div class="invisible-div mt-1 pt-2">
  <div class="text-center mb-3 m-2"><h2>Présentes toi en quelques mots</h2></div>

      <div class="invisible-div ">

        <div  data-controller="quizz-wizzard">
            <%= simple_form_for(@quizz) do |f| %>
                <%= render "video-form", f: f %>
        </div>
      </div>

      <% end %>


  </div>

<% else %>
<div class="jumbotron d-flex align-items-center min-vh-100">
   <div class="container mb-5 pb-5">
    <div class="text-center mb-3"><h2>J'ai changé d'avis, je change mes réponses</h2></div>
    <div class="d-flex justify-content-center">
      <div class="m-auto">


        <%# This is the quizz with a stimulus controller %>

          <div class="focus-space-quizzs" data-controller="quizz-wizzard">
                <%= simple_form_for(@quizz) do |f| %>
                  <% if current_user.role == "junior" %>
                    <%= render "video-form", f: f %>
                  <% else  %>
                    <%= render "senior-form", f: f %>
                  <% end %>
                <% end %>
          </div>
        <%# This is the end of the quizz %>

        </div>
      </div>
    </div>
  </div>

<% end %>
