<div class="container text-center mt-5 mb-5">
  <div>
    <h1>Apart'Agé</h1>
  </div>
  <div class="mt-4">
    <h2>La colocation intergénérationnelle</h2>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="focus-space">
      <div class="text-center"><h2>Je me connecte</h2></div>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>

          </div>

          <div class="form-actions text-center mb-3">
            <%= f.submit "Se connecter", class: "btn btn-primary" %>
          </div>
        <% end %>
          <div class="text-center mb-3">
            <%= render "devise/shared/links" %>
          </div>
      </div>
    </div>
  </div>
</div>
