<%= simple_form_for [@yourspace] do |f| %>
<div class="form-row d-flex justify-content-around">
  <div class="col-4">
    <%= f.input :tv, :label => "Le locataire aura t'il une télé?", input_html: { class: "toggle" }%>
    <%= f.input :bathroom, :label => "Le locataire a t'il une sale de bain privative?", input_html: { class: "toggle" } %>
    <%= f.input :terrasse,  :label => "Y'a t'il une terrasse?", input_html: { class: "toggle" }  %>
  </div>
  <div class="col-4">
    <%= f.input :wifi, :label => "Y'a t'il le Wifi?", input_html: { class: "toggle" }  %>
    <%= f.input :toilet,:label => "Le locataire a t'il des toilettes séparées", input_html: { class: "toggle" }  %>
  </div>
</div>
<div class="text-center">
  <%= f.submit "Je créer mon appartement", class: "btn btn-primary text-white" %>
</div>
<% end %>
