<!DOCTYPE html>
<html>
  <head>
    <title>Apartage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Pacifico&family=Raleway:ital,wght@1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
  </head>

  <body>
    <%#= render "shared/profile_menu" %>
    <%= render "shared/senior_dashboard_navbar"  if action_name == "senior_dashboard"  %>
    <%= render "shared/homepage_navbar"  if action_name == "home"  %>
    <%= render "shared/senior_dashboard_navbar"  if action_name == "candidat"  %>
    <%= render "shared/senior_dashboard_navbar"  if action_name == "candidats"  %>
    <%= render "shared/senior_dashboard_navbar"  if action_name == "monlogement"  %>
    <%= render "shared/junior_dashboard_navbar"  if (action_name == "show" && controller_name == "flats") %>
    <%= render "shared/senior_dashboard_navbar"  if action_name == "your_criterias"  %>
    <%= render "shared/junior_dashboard_navbar"  if action_name == "mescandidature"  %>
    <%= render "shared/junior_dashboard_navbar"  if action_name == "macandidature"  %>
    <%= render "shared/junior_dashboard_navbar"  if action_name == "junior_dashboard"  %>
    <%= render "shared/flashes" %>

    <%= yield %>
    <%= render "shared/navbar" %>
  </body>
</html>
